/*live at http://soupedupkitchencom.fatcow.com/CV/CV.html*/

.phone {
  margin: auto;
  height: 737px;
  width: 654px;
  background-image: url("/imgs/phone.png");
  position: fixed;
  top: 55%;
  left: 55%;
  transform: translate(-50%, -50%);
  background-repeat: no-repeat;
}

iframe {
  width: 350px;
  /* adjust to your needs */
  max-width: 100%;
  /* to make it responsive */
}

body {
  background-image: url("/imgs/CV.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: 0;
  height: 100%;
  min-height: 100%;
}